<!DOCTYPE html>
<html ng-app="Aula5">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Aula 4</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		angular.module('Aula5',[])
		.controller('MeuQuartoController', function($scope){
			
			$scope.frmInclusao = { 
									"nome": "",
									"idade": "",
									"pais": ""
								 };


			$scope.nomeListaPessoas = 'Lista de pessoas';

			$scope.listaPessoas = [];

			$scope.pessoa1 = { 
								"nome": "Roger",
								"idade": 34,
								"pais": "Brasil"
							 };

			$scope.pessoa2 = { 
								"nome": "João",
								"idade": 23,
								"pais": "Brasil"
							 };

			$scope.listaPessoas.push($scope.pessoa1);
			$scope.listaPessoas.push($scope.pessoa2);

			$scope.exibirFormularioInclusao = false;


			$scope.incluirPessoa = function() {


				$scope.listaPessoas.push({ 
											nome: $scope.frmInclusao.nome, 
											idade: $scope.frmInclusao.idade, 
											pais: $scope.frmInclusao.pais
										});


				$scope.frmInclusao = { 
									"nome": "",
									"idade": "",
									"pais": ""
								 };

				$scope.exibirFormularioInclusao = false;
			}


			$scope.excluirPessoa = function(sNome) {
				
				var listaPessoasNova = $scope.listaPessoas.filter(
											function(pessoa){ 
												return pessoa.nome != sNome;
											});

				$scope.listaPessoas = listaPessoasNova;
			}
		});

	</script>
</head>
<body ng-controller="MeuQuartoController">
	<div class="container">
		<div class="jumbotron">
			<h1>Aula 4</h1>
			<p>...</p>
			<p><a class="btn btn-primary btn-lg" ng-hide="exibirFormularioInclusao" ng-click="exibirFormularioInclusao = true;" href="#" role="button">Incluir Pessoa</a></p>
		</div>
		<div class="panel panel-default" ng-show="exibirFormularioInclusao">
			<div class="panel-heading">Inclusão de Pessoa</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Nome</label>
					<input class="form-control" type="text" ng-model="frmInclusao.nome"/>
				</div>
				<div class="form-group">
					<label>Idade</label>
					<input class="form-control" type="text" ng-model="frmInclusao.idade"/>
				</div>
				<div class="form-group">
					<label>País</label>
					<input class="form-control" type="text" ng-model="frmInclusao.pais"/>
				</div>
				<div class="form-group">
					<button class="btn btn-default" ng-click="incluirPessoa();">Incluir</button>				
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">{{ nomeListaPessoas }}</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="pessoa in listaPessoas">

						<div class="panel panel-default">
							<div class="panel-heading">{{ pessoa.nome }}</div>
							<div class="panel-body">
								<ul>
									<li>Idade: {{ pessoa.idade }}</li>
									<li>País: {{ pessoa.pais }}</li>
								</ul>
								<button class="btn btn-default" ng-click="excluirPessoa(pessoa.nome);">Excluir</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>