<!DOCTYPE html>
<html ng-app="Curso">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ titulo }}</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		angular.module('Curso',[]).run(function($rootScope) {
			$rootScope.titulo = 'Aula 7';
			$rootScope.nome = 'Roger';
		})

		.controller('PainelController', function($rootScope, $scope, $http){
			$scope.titulo = 'Painel';
			

			$scope.mudarTitulo = function(sNome)
			{
				if (sNome)
				{
					$scope.titulo = sNome;
				}
				else
				{
					$scope.titulo = Math.round(Math.random() * 10000,0);
				}
				$scope.nome = $scope.titulo;
			}
		})
		.controller('ListaController', function($rootScope, $scope, $http){
			$scope.titulo = 'Lista';

			$scope.listaNome = ['Roger','Eduardo','João'];
			
			/*$scope.mudarTitulo = function(sNome)
			{
				$scope.titulo = sNome
			}*/
		});

	</script>
	<style type="text/css" media="screen">
		.vermelho { color:red; }
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>{{ titulo }} - {{ nome }}</h1>
			
		</div>
		

		<div class="panel panel-default" ng-controller="PainelController">
			<div class="panel-heading">{{ titulo }}</div>
			<div class="panel-body">
				
				<button class="btn btn-primary" ng-click="mudarTitulo();">Novo Titulo</button>


					<div class="panel panel-default" ng-controller="PainelController">
						<div class="panel-heading">{{ titulo }}</div>
						<div class="panel-body">
							<button class="btn btn-primary" ng-click="mudarTitulo();">Novo Titulo</button>
							{{ nome }}
						</div>
					</div>



					<div class="panel panel-default" ng-controller="ListaController">
						<div class="panel-heading">{{ titulo }}</div>
						<div class="panel-body">
							<ul>
								<li ng-repeat="nome in listaNome" ng-click="mudarTitulo(nome);">{{ nome }}</li>
							</ul>
						</div>
					</div>
			</div>
		</div>

		<div class="panel panel-default" ng-controller="PainelController">
			<div class="panel-heading">{{ titulo }}</div>
			<div class="panel-body">
				<button class="btn btn-primary" ng-click="mudarTitulo();">Novo Titulo</button>
			</div>
		</div>




	</div>
</body>
</html>